.back {
  height: 100%;
  width: 100%;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRZ-6YlJNpsWlX9VNnNqhDu7_jHEWoqRTl6Rg&usqp=CAU);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  border: none;
}
