.register {
  min-height: 100vh;
  width: 100%;
  background-image: url(http://wallpapercave.com/wp/DLijYKR.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 0;
  padding-bottom: 0;
  border: none;
}
